Django==5.2
django_minio_backend==3.8.0
django_minio_storage==0.5.8
djangorestframework==3.16.0
django_filter==25.1
minio==7.2.15
Pillow>=10.0.0,<12.0.0
urllib3>=2.0.0,<3.0.0
pytest==8.3.4
pytest-django==4.9.0
psycopg2-binary==2.9.9
nacos-sdk-python==2.0.9
requests>=2.31.0
dj-database-url==2.1.0